@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;700&display=swap");

p, a, h1, h4, h5 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #333333;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

a:hover {
    color: #333333;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h4 {
    font-size: 32px;
    font-weight: 700;
}

.logo {
    font-family: 'Sansita Swashed', cursive;
    white-space: nowrap;
    color: #333333;
}

.button-primary {
    background-color: #333333;
    border: none;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.form-input-section {
    min-height: 20px;

    margin-top: 0.3em;
    margin-bottom: 0.3em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-link {
    border: none;
    background: none;

    height: auto;
    width: auto;
}

.separator-left {
    border-left-style: solid;
    border-left-color: rgb(0, 0, 0, 0.4);
    border-left-width: 1px;
}

.separator-right {
    border-right-style: solid;
    border-right-color: rgb(0, 0, 0, 0.4);
    border-right-width: 1px;
}

.separator-top {
    border-top-style: solid;
    border-top-color: rgb(0, 0, 0, 0.4);
    border-top-width: 1px;
}